# I use the top3 best results on Kaggle public leaderbord to calculate average.
# Since two of them got about 0.87 and the other got about 0.89, 
# I weight the top2 results 45% respectively and weight the third result 10% to get the final result.

In [1]:
import pandas as pd

In [2]:
pred_20 = pd.read_csv("pred_20.csv")
pred_22 = pd.read_csv("pred_22.csv")
pred_24 = pd.read_csv("pred_24.csv")

In [4]:
pred_20["tested_positive"] = 0.45*pred_20["tested_positive"] + 0.45*pred_24["tested_positive"] + 0.1*pred_22["tested_positive"]

In [5]:
pred_20

        id  tested_positive
0        0         8.396056
1        1         9.233417
2        2         5.128137
3        3         9.214236
4        4        16.888899
...    ...              ...
1073  1073        35.975735
1074  1074        35.357316
1075  1075        37.164153
1076  1076        36.947463
1077  1077        39.999982

[1078 rows x 2 columns]

In [7]:
pred_20.to_csv("pred_25.csv", index = False)